// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Montserrat', Helvetica, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #003366;
$yellow: #FFC914;
$red: #EE3B43;
$white: #fff;

$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
