// Fonts
//@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&family=Noto+Sans+JP:wght@300;400;500&family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Fontawesome
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

// Variables
@import 'variables';

@import "~jquery-ui-dist/jquery-ui.css";
// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
	color:#272727;
	font-family: $font-family-sans-serif;
	font-weight:300;
	-webkit-font-smoothing: antialiased;
	margin:0;
	padding:0;
	line-height:1.3;
	overflow-x: hidden;
}

.form-group {
	margin-bottom:15px;
}
.front-container {
	position: relative;
	display:flex;
}

.funnels {
	font-size:15px;
	color:#003366;
	padding:25px 20px;
	font-weight:300;
	flex-grow:3;
}
.splash {
	background:#003366;
	padding:25px;
}
.splash img {
	width:80%;
	display:inline-block;
	position: relative;
	z-index: 1;
}
.splash .content-container {
	display:flex;
	align-items: center;
	height:100%;
}

#right-sidebar {
	padding-top:47px;
}

.message {
	background:$yellow;
	color:$blue;
	font-size:18px;
	text-align:center;
	padding:10px 30px;
	margin-bottom:25px;
}
.message a {
	text-decoration: underline;
}
.message a:hover {
	text-decoration: underline;
	color:$red;
}
strong {
	font-weight:700;
}
a {
	color:$blue;
}
a:hover {
	text-decoration: none;
	color:$yellow;
}

small {
	line-height: normal;
}
big {
	letter-spacing: -0.5px;
}
.bg-light {
	background:#F7F7F7 !important;
}

h1.page-title {
	color:#fff;
	font-size:29px;
	font-weight: 300;
    padding: 0;
    text-transform: uppercase;
    margin:0 15px;
    font-family: $font-family-sans-serif;
}

.help-block {
	color:$red;
}

.bg-primary {
	background:$blue;
}
.bg-danger {
	color:#fff !important;
	background:$red;
}
.text-danger {
	color:$red;
}

h5 {
	color:$red;
}
h3 {
	font-size:20px;
	line-height:1.2em;
	margin-bottom:1rem;
	font-weight: 300;
}
h4 {
	color:$blue;
	font-size:19px;
}

.btn {
	font-family: $font-family-sans-serif;
	border-radius: 0;
	border:1px solid #fff;
	text-transform: uppercase;
	font-weight:400;
	line-height:1.3em;
}
.btn-primary {
	background:$blue;
	border-color:$white;
	color:$white;
}
.btn-primary:hover {
	background-color:$yellow;
	color:$blue
}
.btn-danger {
	background:$red;
	border-color:$white;
	color:$white;
}
.btn-danger:hover {
	background:$yellow;
	color:$red;
}
.btn-info {
	background:$blue;
	color:$white;
	border-color:$white;
}
.btn-info:hover {
	background:$yellow;
	color:$white;
}
.btn-warning {
	background:$yellow;
	border-color:$yellow;
	font-weight:500;
	color:$blue;
}
.btn-warning:hover {
	background:$white;
	border-color:$blue;
	color:$blue;
}
.card-header {
	color:$blue;
	font-size:18px;
	text-transform: uppercase;
}
label {
	display:block;
	font-weight:400;
	color:$blue;
	margin-bottom:1px;
}
label.inline, input.inline {
	display:inline;
	margin-right:8px;
	color:inherit;
}

.social a {
	display:inline-block;
	vertical-align: middle;
	color:$blue;
	font-size:29px;
	padding:0;
	margin:5px;
}

.students-found {
	padding:8px;
    border-color: #fac8ca;	background:rgba(0, 0, 0, 0.03);
	display:none;
	margin-bottom:15px;
	border-radius: 5px;
	border:1px solid rgba(0, 0, 0, 0.125);
	color: #7c1f23;
	font-weight:400;
    background-color: #fcd8d9;
}

.social a:hover {
	color:$red;
}

.top-bar a {
	color:#fff;
	font-weight:400;
}
.top-bar a:hover {
	color:$yellow;
}

footer {
	font-weight:300;
	font-size:85%;
}

.course-cost-container, .event-cost-container {
	font-size:17px;
	color:$red;
}

.tab-pane {
	padding:20px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus {
    color: #fff;
    background-color: #003366;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #EE3B43 #EE3B43 #dee2e6;
    color:#fff;
    background:#EE3B43;
}
.custom-overlay {
	opacity:.5;
}

.help-desk {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:16px;
  line-height:17px;
}

@media screen and (min-width: 1200px) {
	.splash .buttons {
		width:22%;
	}
}
@media screen and (min-width:768px) {
	.splash {
		margin-left:100px;
	}
	.splash img {
		margin-left:-90px;
		max-width:115% !important;
		min-width:115% !important;
	}
}
@media screen and (max-width: 768px) {
	.splash { display:none; }
}
@media screen and (max-width: 600px) {
	.mobile-text-center {
		text-align: center !important;
	}
	main {
		width:100%;
	}
}

@media print {
	.no-print { display:none; }
	.print-left { text-align: left !important; }
}
